<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="HOST_DB_connection_string"
           connectionString="Database=u1478686_swdb;Data Source=37.140.192.191;User Id=u1478686_main;Password=XFN-tZj-MuQ-25J"
           providerName="MySqlConnector"
           />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>